numpy
openai==1.12.0
Pillow
rembg
requests
streamlit==1.40.2
requests
lxml
plotly
prophet
torch
torchvision
fastai==2.2.5
pathlib
yfinance
streamlit-extras
streamlit-component-fill-square-cropper101
easyocr
opencv-python-headless
